<div id="iBanner"></div>
<div class="row cCellery-io-top-row">
   <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"></div>
   <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 cTopLineContainer">
      <div class="cTopLine"></div>
   </div>
</div>
<div class="row cCellery-io-Nav" id="iMainNavigation">
<div class="container">
   
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <nav class="navbar">
            <div>
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">&#9776</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                   <p class="navbar-brand cTagLine" href="#">A WSO2 Open Source Project
                    <a class="cMobileLogo" href="/" ><img src="/img/cellery-logo.svg" alt="Cellery"/></a>
                  </p>
               </div>
               <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav cTopNav">
                     <li class="active toctree-l1" id="learnli"><a href="https://github.com/wso2-cellery/sdk/blob/master/README.md" target="_blank">Get Started</a></li>
                     <li class="toctree-l1" id="philosophyli"><a href="/downloads">Downloads</a></li>
                     <li class="toctree-l1" id="hubli"><a href="https://hub.cellery.io/" target="_blank">Cellery Hub</a></li>
                     <li class="toctree-l1" id="openli"><a href="/#docs">Docs</a></li>
                     <li class="toctree-l1" id="helpli"><a href="/#community">Community</a></li>
                     <li class="toctree-l1" id="blogli"><a href="https://github.com/wso2-cellery/samples" target="_blank">Samples</a></li>
                    </ul>
               </div>

            </div>
         </nav>
      </div>
   </div>
</div>
<div class="row cCellery-io-Logo-row">
   <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 cCellery-io-Logo-Container">
         <a class="cLogo" href="/" ><img src="/img/cellery-logo.svg" alt="Cellery"/></a>
      </div>
   </div>
</div>