<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Go Imports -->
  <meta name="go-import" content="cellery.io/{{ page.go-repo }} git https://github.com/wso2/{{ page.go-repo }}">
  <meta name="go-source" content="cellery.io/{{ page.go-repo }} https://github.com/wso2/{{ page.go-repo }} https://github.com/wso2/{{ page.go-repo }}/tree/master{/dir} https://github.com/wso2/{{ page.go-repo }}/blob/master{/dir}/{file}#L{line}">
  <meta http-equiv="refresh" content="0; https://godoc.org/cellery.io/{{ page.go-repo }}">

</head>
<body>
    Nothing to see here; <a href="https://godoc.org/cellery.io/{{ page.go-repo }}">move along</a>.
</body>
</html>
